annotated-types
anyio
beautifulsoup4
certifi
charset-normalizer
click
colorama
contourpy
cycler
fastapi
fonttools
h11
idna
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
Pillow
pyarrow
pydantic
pydantic_core
pyparsing
python-dateuti
pytz
requests
scikit-learn
scipy
seaborn
six
sniffio
soupsieve
starlette
threadpoolctl
typing_extensions
tzdata
urllib3
uvicorn
python
